.table{
    position: relative;
    height: 700px;
    width: 1510px;
    background-color: lawngreen;
    border-radius: 40%;
    display: inline-block;
    align-items: center;
}



.card1{
    border: 2px black;    
    height: 100px;
    width:50px;
    border-style: solid;
    position: absolute;
    left: 550px;
    bottom: 350px;
    background-color: darkgray;   
}
.card2{
    border: 2px black;    
    height: 100px;
    width:50px;
    border-style: solid;
    position: absolute;
    background-color: darkgray;
    left: 650px;
    bottom: 350px;
}
.card3{
    border: 2px black;    
    height: 100px;
    width:50px;
    border-style: solid;
    position: absolute;
    left: 750px;
    bottom: 350px;
    background-color: darkgray;
}
.forth{
    border: 2px black;    
    height: 100px;
    width:50px;
    border-style: solid;
    position: absolute;
    left: 850px;
    bottom: 350px;
    background-color: darkgray;
}
.river{
    border: 2px black;    
    height: 100px;
    left: 950px;
    bottom: 350px;
    width:50px;
    border-style: solid;
    position: absolute;
    background-color: darkgray;

}

.player1{
    border: 2px black;    
    height: 150px;
    width:175px;
    border-style: solid;
    position: absolute;
    left: 100px;
    bottom: 550px;
    background-color: darkgray;   
}
.player2{
    border: 2px black;    
    height: 150px;
    width:175px;
    border-style: solid;
    position: absolute;
    left: 1200px;
    bottom: 100px;
    background-color: darkgray;   
}
.player3{
    border: 2px black;    
    height: 150px;
    width:175px;
    border-style: solid;
    position: absolute;
    left: 100px;
    bottom: 150px;
    background-color: darkgray;   
}
.player4{
    border: 2px black;    
    height: 150px;
    width:175px;
    border-style: solid;
    position: absolute;
    left: 1200px;
    top: 75px;
    background-color: darkgray;   
}
.dealer{
    border: 2px black;    
    height: 112px;
    width:200px;
    border-style: solid;
    position: absolute;
    left: 650px;
    top: 80px;
    background-image: url("../img/dealer.png");  
}